{% extends "store/base.html" %}

{% block content %}
<p><em>Oops ! Je l'ai encore fait.</em></p>
<p>
    Une erreur s'est produite. Nous sommes actuellement en liaison directe avec l'inspecteur Maigret pour investiguer
    sur les causes du drame.
</p>
{% include "store/search_form.html" %}
<div class="embed-responsive embed-responsive-16by9">
    <iframe width="537" height="403" src="https://www.youtube.com/embed/k8zyH6lMRPQ" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
{% endblock %}